/* 페이지 글꼴 설정 */
* {
    font-family: 'NanumBarunPen';
 }
/* body */
body {
    /* border: 1px solid black; */
    background-color: #f0f2f5;
    width: 1024px;
    margin: 0 auto;
}
.navigation > ul {
    width: 1024px;
    position: fixed;
    border-bottom: 1px solid rgb(199, 197, 197);
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.navigation li {
    padding: 30px 40px 5px 40px;
}
.navigation a {
    text-decoration: none;
    font-size: 23px;
}
.navigation a:link, .navigation a:visited {
    color: black;
}
.navigation a:hover {
    color: cadetblue;
}
.navigation #nowpage:link, .navigation #nowpage:visited {
    color: cadetblue;
    font-weight: bold;
}
#canvas {
    position: absolute;
}

/* animation */
.s1 {
    padding: 150px 180px 0 180px;
    display: flex;
    justify-content: space-between;

}
.step-animation img{
    opacity: 0;
}
.left {
    position: relative;
    display: inline-block;
    width: 40px;
    top: -10px;
}
.right {
    position: relative;
    display: inline-block;
    width: 40px;
    top: 10px;
}
#foot0 {animation: foot0 8s infinite;}
#foot1 {animation: foot1 8s infinite;}
#foot2 {animation: foot2 8s infinite;}
#foot3 {animation: foot3 8s infinite;}
#foot4 {animation: foot4 8s infinite;}
#foot5 {animation: foot5 8s infinite;}
#foot6 {animation: foot6 8s infinite;}
#foot7 {animation: foot7 8s infinite;}
#foot8 {animation: foot8 8s infinite;}
#foot9 {animation: foot9 8s infinite;}

#goal {
    font-size: 30px;
    color: cadetblue;
    padding: 10px;
    animation: fontColor 8s infinite;
}
@keyframes foot0 {00% {opacity: 0;} 05% {opacity: 1;} 20%{opacity: 0;}}
@keyframes foot1 {05% {opacity: 0;} 10% {opacity: 1;} 25%{opacity: 0;}}
@keyframes foot2 {10% {opacity: 0;} 15% {opacity: 1;} 30%{opacity: 0;}}
@keyframes foot3 {15% {opacity: 0;} 20% {opacity: 1;} 35%{opacity: 0;}}
@keyframes foot4 {20% {opacity: 0;} 25% {opacity: 1;} 40%{opacity: 0;}}
@keyframes foot5 {25% {opacity: 0;} 30% {opacity: 1;} 45%{opacity: 0;}}
@keyframes foot6 {30% {opacity: 0;} 35% {opacity: 1;} 50%{opacity: 0;}}
@keyframes foot7 {35% {opacity: 0;} 40% {opacity: 1;} 55%{opacity: 0;}}
@keyframes foot8 {40% {opacity: 0;} 45% {opacity: 1;} 60%{opacity: 0;}}
@keyframes foot9 {45% {opacity: 0;} 50% {opacity: 1;} 65%{opacity: 0;}}
@keyframes fontColor {
    40% {
        color: cadetblue;
        background-color: #f0f2f5;
    }
    50% {
        background-color: cadetblue;
        color: white;
    }
    80% {
        background-color: cadetblue;
        color: white;
    }
}
/* step image */
.images img {
    width: 40px;
}
.images > div {
    position: relative;
    display: flex;
}
.images span {
    font-size: 18px;
    padding: 10px;
}
.add {
    border: 1px solid black;
    border-radius: 50%;
    margin: 10px 0;
    padding: 0 5px;
    cursor: pointer;
}


#step1 {
    left: 100px;
    top: 100px;
}
#step2 {
    left: 20px;
    top: 550px;
}
#step3 {
    left: 420px;
    top: 185px;
}
#step4 {
    left: 420px;
    top: 310px;
}

.contents > div {
    position: relative;
    border-style: none;
    padding: 10px;
    line-height: 25px;
    word-spacing: 4px;
    font-size: 15px;
    opacity: 0;
}
#content1 {
    width: 490px;
    left: 300px;
    top: -80px;
}
#content2 {
    width: 350px;
    top: 340px;
}
#content3 {
    width: 350px;
    left: 650px;
    top: -145px;
}
#content4 {
    width: 350px;
    left: 650px;
    top: -97px;
}
.contents .on {
    opacity: 1;
    transition-duration: 1s;
}

/* arrow */
.arrow {
    position: relative;
    display: flex;
    left: 700px;
    cursor: pointer;
}
.arrow img {
    width: 60px;
    animation: arrowPosition 2s infinite linear;
}
@keyframes arrowPosition {
    50% {
        transform: translate(20px ,0);
    }
}
.arrow span {
    font-size: 25px;
    padding: 13px 30px;
    color: cadetblue;
    animation: arrowPosition 2s infinite linear;
}